.img-text {
 position: relative;
 background-color: #000;
 width: 100%;
 height: 100vh;
}

.img-text__img {
 position: absolute;
 

 left: 50%;
 transform: translateX(-50%);
 width: 100%;
 bottom: 0;
 height: 100%;
}

.img-text__img_face {
 object-fit: contain;
 max-width: 717px;
 max-height: 819px;
}

.img-text__img_words {
 max-width: 819px;
 max-height: 819px;
 object-fit: cover;
 mix-blend-mode: multiply;
}